@page "/setservername"
@inject NavigationManager NavigationManager
@inject IStorage Storage

<h3>City Name</h3>

@error
<br />

<FieldComponent Label="Server Name">
    <Control>
        <input type="text" @bind-value="server.Name" class="form-control" />
    </Control>
</FieldComponent>

<br />
<button type="button" class="btn btn-primary" @onclick="GoNextAsync">Next</button>
@code {
    private Server server = new Server() { Name = string.Empty, City = string.Empty };
    private string error = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Server? server = await Storage.GetServerAsync();

        if (server is null || string.IsNullOrWhiteSpace(server.City))
        {
            error = "Can not load server";
            return;
        }

        this.server = server;
    }

    private async Task GoNextAsync()
    {
        if (string.IsNullOrWhiteSpace(server.Name))
        {
            error = "City or Name can not be empty";
            return;
        }
       
        await Storage.SetServerAsync(server);

        NavigationManager.NavigateTo("/setstatus");
    }
}
