@page "/servers"
@rendermode InteractiveServer
@inject IServersRepository ServersRepository
@inject NavigationManager NavigationManager

<h3>Servers</h3>
<CityListComponent 
    @rendermode="InteractiveServer"
    SelectCityCallback="HandleCitySelection" />

<br/>

<SearchComponent SearchServerCallback="HandleSearchServer" />

<br />

<ServerListComponent 
    @rendermode="InteractiveServer" 
    CityName="@selectedCity"
    ServerFilter="@serverFilter"/>

<br/>

<a href="/servers/add" class="btn btn-primary">Add server</a>

@code {
    private string selectedCity = "Toronto";
    private string serverFilter = string.Empty;

    public void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
    }

    public void HandleSearchServer(string serverFilter)
    {
        this.serverFilter = serverFilter;
        selectedCity = string.Empty;
    }
}
