@page "/servers"
@rendermode InteractiveServer
@inject IServersRepository ServersRepository
@inject NavigationManager NavigationManager

<h3>Servers</h3>
<CityListComponent 
    @ref="cityListComponent"
    @rendermode="InteractiveServer"
    SelectCityCallback="HandleCitySelection" />

<br/>

<SearchComponent
    @ref="searchComponent"
    SearchServerCallback="HandleSearchServer" />

<br />

<ServerListComponent 
    @rendermode="InteractiveServer" 
    CityName="@selectedCity"
    ServerFilter="@serverFilter"/>

<br/>

<a href="/servers/add" class="btn btn-primary">Add server</a>

@code {
    private string selectedCity = "Toronto";

    private string serverFilter = string.Empty;

    CityListComponent? cityListComponent;
    SearchComponent? searchComponent;

    public void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
        searchComponent?.ClearFilter();
    }

    public void HandleSearchServer(string serverFilter)
    {
        this.serverFilter = serverFilter;
        selectedCity = string.Empty;
        cityListComponent?.ClearSelection();
    }
}
