@page "/servers"

@inject NavigationManager NavigationManager

<h3>Servers</h3>
<CityListComponent @rendermode="InteractiveServer" />

<br/>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search servers" @bind-value:event="oninput" @bind-value="ServerFilter" />
    <button class="btn btn-outline-secondary" type="button" id="buttonSearch" @onclick="HandleSearch">Search</button>
</div>
<br />

<ServerListComponent 
    @rendermode="InteractiveServer" 
    CityName="Toronto" />

<br/>
@ServerFilter

<a href="/servers/add" class="btn btn-primary">Add server</a>

@code {
    

    private string _serverFilter = string.Empty;

    private string ServerFilter 
    {
        get => _serverFilter;
        set
        {
            _serverFilter = value;

            // servers = ServersRepository.SearchServers(_serverFilter);

            //selectedCityName = string.Empty;
        }
    }

    private void HandleSearch()
    {
        // servers = ServersRepository.SearchServers(ServerFilter);
        //selectedCityName = string.Empty;
    }
}
