@page "/todo"
@inject ITodoRepository TodoRepository
@rendermode InteractiveServer

<h3>TodoList</h3>

<button class="btn btn-primary mb-3" @onclick="AddTodo">Add Todo</button>

<TodoListComponent Todos="@todos" />

@code {
    private List<TodoTask> todos = new();

    protected override void OnInitialized()
    {
        todos = TodoRepository.GetTodos();
    }

    private void AddTodo()
    {
        TodoTask todo = new TodoTask() { Description = "New task" };
        TodoRepository.AddTodo(todo);
        todos = TodoRepository.GetTodos();
    }
}
