@inject ICitiesRepository CitiesRepository

@if (cities != null && cities.Count > 0)
{
    <div class="container-fluid text-center">
        <div class="row w-50">
            @foreach (var city in cities)
            {
                <CityComponent City="@city"
                               SelectedCityName="@SelectedCityName"
                               SelectCityCallback="HandleCitySelection" />

            }           
        </div>
    </div>

}

@code {

    [Parameter]
    public EventCallback<string> SelectCityCallback { get; set; }

    [Parameter]
    public string SelectedCityName { get; set; } = "Toronto";

    private List<City>? cities;

    protected override void OnInitialized()
    {
        cities = CitiesRepository.GetCities();
    }

    private void HandleCitySelection(string cityName)
    {
        SelectedCityName = cityName;

        SelectCityCallback.InvokeAsync(cityName);
    }

    public void ClearSelection()
    {
        SelectedCityName = string.Empty;
    }
}