@inject IServersRepository ServersRepository

<table class="table table-striped">
    <RepeaterComponent Items="servers">
        <Header>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        People Online
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
        </Header>
        <Row Context="server">
            <ServerComponent Server="server" />
        </Row>
    </RepeaterComponent>
</table>
@code {
    [Parameter]
    public string? CityName { get; set; }

    private string? serversFilter;

    private List<Server> servers = new();

    [Parameter]
    public string? ServerFilter { get; set; }


    protected override async void OnParametersSet()
    {
        if(!string.IsNullOrWhiteSpace(CityName))
        {
            servers = await ServersRepository.GetServersByCity(CityName ?? "Toronto");
            StateHasChanged();
        }
        else if (!string.IsNullOrEmpty(ServerFilter))
        {
            servers = await ServersRepository.SearchServers(ServerFilter);
        }
      
    }
}
